.layout-sidebar {
  height: 100vh;
}

.layout-sidebar-logo {
  width: 200px;
}

.ant-layout-sider-collapsed .layout-sidebar-logo-container {
  width: 100%;
  overflow: hidden;
}

.layout-content {
  margin: 0 16px;
}

.layout-header {
  display: flex;
  justify-content: space-between;
}

.layout-avatar_dropdown {
  margin: 10px;
}

.layout-content-background {
  background: #fff;
  padding: 24px;
  min-height: calc(100vh - 75px);
}

.layout-breadcrumb {
  margin: 16px 0;
}

.ant-layout-sider-collapsed .ant-menu-item {
  padding: 0px calc(50% - 10px) !important;
}

.layout-sidebar-icon {
  font-size: 20px !important;
}
