.caja-agregar-personaje {
  width: 954px;
  height: 870px;
  background: #00669f;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  margin: 50px auto;
  border-radius: 49px;
}

.titulo-agregar {
  width: fit-content;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  color: #fbfffd;
  margin: auto;
}

.subtitulo-agrega-personaje {
  width: fit-content;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 14px;
  color: #ffffff;
  margin: auto;
}
.agregar-form {
  width: 90%;
  margin: 30px auto 40px;
}

.columna-1,
.columna-2 {
  width: 40%;
  margin-left: 5%;
  display: inline-block;
}

label {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

input[type='text'],
input[type='date'],
textarea,
select {
  border: 0px;
  border-radius: 15px;
  height: 63px;
  width: 343px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 13px;
}
input[type='text']:focus,
input[type='date']:focus,
textarea:focus,
select:focus {
  outline: 0px;
}

.descripcion-caja {
  min-width: 343px;
  max-width: 343px;
  min-height: 290px;
  max-height: 290px;
  padding: 10px;
  border: 1.53407px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 15.3407px;
  background: #ffffff;
  margin-bottom: 0px;
}

#agregar-foto {
  display: block;
  margin-bottom: 20px;
}
#boton-archivo {
  background: #cecece;
  height: 35px;
  width: 200px;
  left: 730px;
  top: 481px;
  border-radius: 5px;
  color: #000000;
  padding: 7px 0px 0px 7px;
  margin-right: 4px;
}
#boton-archivo:hover {
  background: #001d2d;
  color: #ffffff;
}
input[type='file'] {
  display: none;
}
.no-se-eligio {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 12px;
}

input[type='checkbox'] {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  width: 24px;
  height: 20px;
  margin-top: 16px;
}
input[type='radio'] {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  margin-top: 16px;
}
.billetera-gorda {
  margin-bottom: 33px;
}

.box-superpoderes {
  margin-top: 36px;
}
.box-tipo-personaje {
  margin-top: 21px;
}

.seleccionar-archivo,
.form-control {
  display: inline-block;
}

.boton-añadir-container {
  text-align: center;
}
.boton-añadir {
  border: 0px;
  background: #1cd1b0;
  border-radius: 23.011px;
  width: 450px;
  height: 80px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #000000;
  margin: auto;
  cursor: pointer;
}
.boton-añadir:hover {
  background: #001d2d;
  color: #ffffff;
}
.boton-añadir:focus {
  outline: 0;
}
