.aside {
  background-color: #1cd1b0;
  font-family: 'Roboto', sans-serif;
  width: cover;
  font-size: 15px;
  padding-top: 4.31px;
  padding-bottom: 4.31px;
  font-weight: 400;
}
.titulo {
  padding-left: 30px;
  background-color: #00669f;
  width: cover;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  padding-left: 30px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  padding-top: 20px;
  padding-bottom: 20px;
}
body {
  background-image: url('../img/harley-queen-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  width: 100%;
}

main {
  margin-bottom: 116px;
}
.card {
  width: 546px;
  height: 480px;
  background: #f3f3f3;
  border-radius: 45px;
  margin: auto;
  margin-top: 215px;
  position: relative;
}
h2 {
  position: absolute;
  left: 190px;
  top: 61px;
  color: #2c0187;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 32px;
  line-height: 37px;
  text-decoration: underline;
}
.box {
  position: relative;
}

.volveralmenu {
  width: 546px;
  height: 87px;
  background: #2c0187;
  border-radius: 0px 0px 45px 45px;
  position: relative;
  top: 400px;
  text-align: center;
  padding-top: 31px;
}
a {
  width: 132px;
  height: 23px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
}

.texto {
  position: absolute;
  width: 500px;
  height: 158px;
  left: 23px;
  top: 121px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-align: justify;
}
.foto {
  background-image: url('../img/harley-queen.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 159px;
  height: 159px;
  border-radius: 50%;
  z-index: 20;
  position: absolute;
  left: 200px;
  bottom: 400px;
}

.corazon {
  font-size: 2em;
  top: 30px;
  left: 50px;
  position: absolute;
  z-index: 10;
}
.bate {
  font-size: 2em;
  position: absolute;
  z-index: 10;
  left: 152px;
  bottom: 109px;
  width: 50px;
  height: 50px;
}

.pistola {
  font-size: 2em;
  bottom: 109px;
  left: 245px;
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
}

.bazooka {
  font-size: 2em;
  bottom: 109px;
  right: 154px;
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
}

span {
  color: #2c0187;
}
