main {
  margin: 200px 160px;
}
.cartas {
  margin: auto;
  width: fit-content;
}
.carta {
  width: 300px;
  height: 529px;
  text-align: center;
  border-radius: 30px 30px 0 0;
  display: inline-block;
  position: relative;
  margin: 0px 30px;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fondo {
  background-repeat: no-repeat;
  background-size: cover;
  height: 193px;
  margin: auto;
}
.fondo-batman {
  background-image: url('../img/batman-bg.png');
}
.fondo-harleyquinn {
  background-image: url('../img/harley-queen-bg.png');
}
.fondo-superman {
  background-image: url('../img/superman-bg.jpg');
}

.foto {
  width: 120px;
  height: 118px;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 90px;
  top: 128px;
  z-index: 2;
}
.foto-batman {
  background-image: url('../img/batman.png');
}
.foto-harleyquinn {
  background-image: url('../img/harley-queen.png');
}
.foto-superman {
  background-image: url('../img/superman.jpg');
}

.fa-heart {
  color: #cc2424;
  font-size: 2em;
  top: 5%;
  left: 5%;
  position: absolute;
  z-index: 10;
}
.titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin: 74px 0px 0px;
}
.texto {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin: 10px 17px 37px;
  text-align: justify;
}
.ver-mas {
  width: 129px;
  height: 49px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  border: 0px;
  background-color: #00669f;
  color: #f3f3f3;
  margin: auto;
  cursor: pointer;
}
.ver-mas:hover {
  background-color: #001d2d;
}

.fa-plus-circle {
  font-size: 82px;
  color: #00669f;
  cursor: pointer;
  position: absolute;
  right: 34px;
  bottom: 300px;
}
.fa-plus-circle:hover {
  color: #001d2d;
}
