<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
</head>
<body>
  <main>
    <form action="login" method="POST">
      <label id="username_label" for="username_input">Usuario</label>
      <input id="username_input" type="text" name="username" />
      <label id="password_label" for="username_input">Contraseña</label>
      <input id="password_input" type="password" name="password" />
      <button type="submit">Iniciar sesión</button>
    </form>
  </main>
</body>
</html>